// intro__wrap
.intro__inner {
  display: flex;
  justify-content: space-between;
}
.intro__title {
  width: 33%;
  span {
    background-color: #ff3344;
    font-size: 14px;
    padding: 4px 30px 2px;
    color: #fff;
    border-radius: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
  }
  h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
  }
}
.intro__desc {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > div {
    width: 48%;
    margin-bottom: 40px;
    h4 {
      display: inline-block;
      font-size: 24px;
      margin-bottom: 15px;
      font-weight: 500;
    }
    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
}
// title
.cont__title.intro {
  background: #bca7d1;
}
.title__inner {
  text-align: center;
  padding: 70px 0 100px 0;
  h3 {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
    font-size: 2.5em;
    padding: 12px;
    font-weight: 600;
    margin-bottom: 1em;
    color: #fff;
  }
  p {
    font-size: 1.7em;
    margin-bottom: 1em;
    font-weight: 400;
    color: #fff;
  }
  span {
    font-size: 1.3em;
    font-weight: 200;
  }
}
// intro__cont
.intro__cont {
  margin: -100px auto 0;
  .cont__box {
    padding: 50px 0;
    ul {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 33.3%;
        padding: 1em;
        margin-bottom: 1em;
        h3 {
          color: var(--color_main);
          font-weight: 400;
          font-size: 1.5em;
          margin-bottom: 1em;
        }
        em {
          font-weight: 200;
          font-size: 1.3em;
        }
      }
    }
  }
}
