// unsplash__wrap
.unsplash__inner {
  .unsplash__header {
    h3 {
      font-size: 50px;
      margin-bottom: 40px;
    }
    p {
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 60px;
    }
    a {
      border-radius: 50px;
      margin-bottom: 100px;
    }
  }
  .unsplash__body {
    // padding-left: calc((100% - 1280px) / 2);
    // width: 100%;
    // .unsplash__item {
    //   height: 400px;
    //   display: flex;
    //   gap: 10px;
    //   overflow: hidden;
    //   flex-wrap: wrap;
    //   flex-direction: column;
    //   // > div {
    //   //   width: 25%;
    //   // }
    // }
  }
}

// unsplash__page
.unsplash__cont {
  ul {
    column-count: 4;
    li {
      margin-bottom: 20px;
    }
  }
}

//unsplash__search
.unsplash__search {
  text-align: center;
  margin-bottom: 50px;
  input {
    border: 1px solid #e8ecf2;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    min-width: 300px;
    margin-right: 10px;
  }
  button {
    @include button(#00c183, #fff);
    border-radius: 50px;
  }
}

// unsplash__slider
.unsplash__slider {
  margin-bottom: 50px;
  .swiper-wrapper {
    transition-timing-function: linear;
  }
}

// unplash__tag
.unplash__tag {
  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;

    li {
      a {
        font-family: "GmarketSans";
        border: 1px solid var(--button_green);
        padding: 10px 20px;
        margin: 0 10px;
        color: var(--button_green);
        cursor: pointer;
        background: linear-gradient(
          to right,
          var(--button_green) 50%,
          white 50%
        );
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.5s ease-out;
        &:hover {
          background-position: left bottom;
          color: #fff;
        }
      }
    }
  }
}
